<a class="twitter-me" href="https://twitter.com/philipbeel">Twitter @philipbeel</a>
<a class="github-me" href="https://github.com/philipbeel">Github</a>
<a class="linkedin-me" href="https://uk.linkedin.com/in/philip-beel-55993013">Linkedin</a>
<a class="subscribe-me" href="{{@blog.url}}/rss/">Subscribe via RSS</a>

<p class="copyright">All content copyright <a href="/">{{@blog.title}}</a> &copy; 2015 &bull; All rights reserved.</p>
