<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <a class="subscribe-button icon-feed" href="{{@site.url}}/rss/">Subscribe</a>
</div>
<span class="nav-cover"></span>