{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The main content area on the homepage }}
<section class="content-home" role="main">

  {{#author}}

      <article class="content post">

            <h1 class="searching">
              <a href="{{url}}rss/">{{name}}</a>
            </h1>

        </article>

    {{/author}}

    {{! Generic loop shared across all loop based pages }}
    {{> "loop" }}

</section>
